
/* css reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* misc classes */
.center {
    margin: 0 auto;
}

.center-txt {
    text-align: center;
}

.top-space {
    padding-top: 30px;
}

.bottom-space {
    padding-bottom: 30px;
}

/* style rules for body */
body {
    background: linear-gradient(90deg, #ABDEE1,#77B0BF, #ABDEE1 );
}

p {
    font-family: "Nova Flat", system-ui;
}

/* style rules for header */
header{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #ABDEE1,#77B0BF, #ABDEE1 );
}
    
header img{
    width: 200px;
}

/* style rules for nav */
nav {
    font-family: "Quintessential", serif;
}

.desk-nav, .tab-nav {
    display: none;
}

#menu-links {
    background-color: #ABDEE1;
    position: relative;
    z-index: -1;
    border-top: 1px solid black;
    background-color: #F9FBFC;
}

#menu-links a, .menu-icon {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 6px 0;
    border-bottom: 1px solid #000;
    background-color: #F9FBFC;
}

.menu-icon {
    font-size: 1.75em;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-color: #fff;
    border-top: 2px solid black;
}

#menu-links {
    position: relative;
    top: -200px;
    transition-duration: 0.67s;
}


/* style rules for footer */

footer {
    background-color:#F9FBFC;
    padding-bottom: 30px;
}

footer h2 {
    font-family: "Nova Flat", system-ui;
}

.footer-logo {
    display: none;
}

.footer-list {
    list-style-type: none;
    text-align: center;
}

.footer-list a {
    display: block;
    color: #000;
    margin: 5px 0;
}

.copy {
    text-align: center;
    padding-top: 10px;
    font-size: 1.25em
}

.tab-footer-title {
    display: none;
}

/* tablet */
@media screen and (min-width: 550px) {
    /* nav */
    .mobile-nav, #desk-nav {
        display: none;
    }

    #tab-nav {
        display: block;
        position: sticky;
        background-color: #F9FBFC;
        transition-duration: 0.3s;
        font-family: "Quintessential", serif;
    }

    .tab-nav a{
        text-decoration: none;
        color: black;
        font-size: 25px;
        opacity: 1.5;
    }
    .tab-nav img{
        width: 80px;
        max-width: 100%;
        margin-right: 30px;
    }
    .tab-links{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-left: 60px;
        align-items: center;
    }
    .tab-nav a:hover{
        text-decoration: underline;
        font-weight: bold;
    }

    /* footer */
    footer {
        padding: 40px 0;
    }

    .footer-logo {
        display: block;
        width: 150px;
    }

    .mobile-footer-title {
        display: none;
    }

    .tab-footer-title {
        display: block;
    }

    .footer-grid {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 20%;
        padding-left: 75px;
    }
}


/* desktop */
@media screen and (min-width: 1000px) {

    #desk-nav{
        display: flex;
        position: sticky;
        background-color: #F9FBFC;
        transition-duration: 0.3s;
        font-family: "Quintessential", serif;
    }

    nav a{
        text-decoration: none;
        color: black;
        font-size: 25px;
        opacity: 1.5;
    }

    nav a:hover{
        text-decoration: underline;
        font-weight: bold;
    }

    nav img{
        width: 80px;
        max-width: 100%;
    }

    .links{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        margin-left: 60px;
    }

    .links a{
        padding: 100px;
    }

    .profile-img{
        margin-right: 50px;
        margin-top: 5px;
    }

    .mobile-nav, #tab-nav {
        display: none;
    }

    .desk-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}