
/* css reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Funnel Sans", sans-serif;
}

/* misc classes */
.center {
    margin: 0 auto;
}

.center-txt {
    text-align: center;
}

.top-space {
    padding-top: 30px;
}

.bottom-space {
    padding-bottom: 30px;
}

.indent {
    text-indent: 40px;
}

/* style rules for body */
body {
    background: linear-gradient(90deg, #ABDEE1,#77B0BF, #ABDEE1 );
}

body button{
    cursor: pointer;
}

p {
    font-family: "Funnel Sans", sans-serif;
}

a {
    color: #000;
    transition-duration: 0.3s;
}

a:hover {
    font-weight: bold;
    transition-duration: 0.3s;
}

h1, h2 {
    font-family: "Metal Mania", serif;
    color: #fff;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000;
    font-size: 2em
}

h2 {
    font-size: 1.5em;
}

/* style rules for header */
header{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #ABDEE1,#77B0BF, #ABDEE1 );
}
    
header img{
    width: 200px;
}

/* style rules for nav */
nav {
    font-family: "Metal Mania", serif;
}

.desk-nav, .tab-nav {
    display: none;
}

#menu-links {
    background-color: #ABDEE1;
    position: relative;
    z-index: -1;
    border-top: 1px solid black;
    background-color: #F9FBFC;
    cursor: pointer;
}

#menu-links a, .menu-icon {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 6px 0;
    border-bottom: 1px solid #000;
    background-color: #F9FBFC;
    cursor: pointer;
}

.menu-icon {
    font-size: 1.75em;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-color: #fff;
    border-top: 2px solid black;
}

#menu-links {
    position: relative;
    top: -200px;
    transition-duration: 0.67s;
    cursor: pointer;
}

/* style rules for main */
main {
    margin: 0 12%;
}

.hero {
    width: 400px;
    padding: 40px 0;
}

h1, h2 {
    font-size: 2em;
    -webkit-text-stroke-width: 0.2px;

}
.desk-nav button{
    width: 150px;
    height: 60px;
    border: 2px solid black;
    margin-right: 20px;
    border-radius: 40px;
    background-color: #ABDEE1;
}
.desk-nav button:hover{
    cursor: pointer;
}
.profile-img{
    display: flex;
    align-items: center;
}

/*Log In/Sign Up*/
#modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal .container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login, .signUp{
    position: absolute;
    width: 500px;
    max-width: 500px;
    max-height: 620px;
    height: auto;
    padding-top: 40px;
    background-color: white;
    border: 5px solid black;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.6s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
#alrHaveAccount{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.login.active, .signUp.active{
    opacity: 1;
    pointer-events: auto;
}
.signUp{
    transform: translate(-50%, -50%);
}
.signUp.active{
    transform: translate(-50%, -50%);
}
.login{
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.login.active{
    transform: translate(-50%, -50%);
}
.container img{
    width: 30px;
    height: 30px;
    display: block;
}
.container h1{
    font-size: 80px;
}
.container label{
    margin-left: 15px;
}
.login-sign-in-labels{
    border-bottom: 5px solid ;
    width: 100%;
    text-align: center;
}
.container a{
    color: black;
    text-decoration: none;
}
.container a:hover{
    color: blue;
}
.containerBtn, #btn{
    margin-top: 40px;
    width: 200px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: #ABDEE1;
    margin-bottom: 15px;
}


.xIcon{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.xIcon:hover{
    background-color: #77B0BF;
    cursor: pointer;
}
.login label{
    font-size: 60px;
}
.login input{
    width: 400px;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
}
#login-password{
    margin-bottom: 15px;
}
.input{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
    
}
.input input{
    border: 4px solid black;
}
.scroll-inner{
    flex: 1;
    overflow-y: auto;
    direction: ltr;
    width: 100%;
    max-height: 580px;
    overflow-y: auto;
    padding-right: 0;
}
.signUp h3{
    font-size: 40px;
}
.general-info{
    text-align: center;
    margin-left: 10px;
}
.sign-in-names{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.signUp label{
    font-size: 35px;
}
.signUp input{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    padding: 8px;
    font-size: 20px;
}
#signUp-username{
    width: 94%;
}
#signUp-password{
    width: 94%;
    margin-bottom: 5px;
}
#email{
    width: 94%;
}
.location{
    margin-left: 10px;
}
.location h3{
    text-align: center;
}
.location input{
    width: 94%;
}
.card-info{
    margin-left: 10px;
}
.card-info h3{
    text-align: center;
}
.card-name-info{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.card-info input{
    width: 94%;
}
#middleInitial-card{
    width: 35px;
    text-align: center;
}
.card-name-info input{
    width: 165px;
}
.signUp button{
    margin: 20px auto 0 auto;
    display: block;
}


/*Style Rules For Main*/

div.slider-container {
    display: flex;
    justify-content: space-around;
    background-color: #F9FBFC;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    height: 450px;
    margin-top: 40px;
    text-align: center;
    text-indent: none;
}

div.slider-container p {
    display: inline;
    width: 150px;
}

div.slider-container img {
    padding: 10px;
    width: 200px;
}

.home-btn {
    display: block;
    margin: 30px auto;
    padding: 25px 15px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #ABDEE1;
    font-size: 1em;
}

/* style rules for footer */

footer {
    background-color:#F9FBFC;
    padding-bottom: 30px;
}

footer h2 {
    font-family: "Funnel Sans", sans-serif;
    font-size: 1.5em;
    color: #000;
}

.footer-logo {
    display: none;
}

.footer-list {
    list-style-type: none;
    text-align: center;
}

.footer-list a {
    display: block;
    color: #000;
    margin: 5px 0;
}

.copy {
    text-align: center;
    padding-top: 10px;
    font-size: 1.25em
}

.tab-footer-title {
    display: none;
}

/* tablet */
@media screen and (min-width: 550px) {
    /* nav */
    .mobile-nav, #desk-nav {
        display: none;
    }

    #tab-nav {
        display: block;
        position: sticky;
        background-color: #F9FBFC;
        transition-duration: 0.3s;
        font-family: "Quintessential", serif;
    }

    .tab-nav a{
        text-decoration: none;
        color: black;
        font-size: 25px;
        opacity: 1.5;
        transition: font-weight 0.3s ease-in-out;
    }

    .tab-nav a :hover{
        text-decoration: underline;
        font-weight: bold;
    }

    .tab-nav img{
        width: 80px;
        max-width: 100%;
        margin-right: 30px;
    }
    .tab-links{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-left: 60px;
        align-items: center;
    }

    /* main */
    main {
        margin: 0 16%;
    }

    h1, h2 {
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: #000;
        font-size: 2.5em
    }

    /* footer */
    footer {
        padding: 40px 0;
    }

    .footer-logo {
        display: block;
        width: 150px;
    }

    .mobile-footer-title {
        display: none;
    }

    .tab-footer-title {
        display: block;
    }

    .footer-grid {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 20%;
        padding-left: 75px;
    }
}


/* desktop */
@media screen and (min-width: 1000px) {

    #desk-nav{
        display: flex;
        position: sticky;
        background-color: #F9FBFC;
        transition-duration: 0.3s;
        font-family: "Quintessential", serif;
    }

    nav a{
        text-decoration: none;
        color: black;
        font-size: 25px;
        opacity: 1.5;
    }

    nav a:hover{
        text-decoration: underline;
        font-weight: bold;
    }

    nav img{
        width: 80px;
        max-width: 100%;
    }

    .links{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        margin-left: 60px;
    }

    .links a{
        margin: 0 100px;
    }

    .profile-img{
        margin-right: 50px;
        margin-top: 5px;
    }

    .mobile-nav, #tab-nav {
        display: none;
    }

    .desk-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* main */
    .home-grid {
        display: flex;
        justify-content: space-between;
    }

    .home-grid p {
        display: block;
        width: 50%;
        margin-top: 15px;
    }

    .hero {
        margin-left: 0;
    }
}