/* css reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* style rules for mobile nav */
.desk-nav {
    display: none;
}

#menu-links a, .menu-icon {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 6px 0;
    border-bottom: 1px solid #000;
}

.menu-icon {
    font-size: 1.75em;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-color: #fff
}

#menu-links {
    position: relative;
    top: -200px;
    transition-duration: 0.67s;
}

.index-link {
    border-top: 1px solid #000;
}


/* style rules for footer */
.copy {
    text-align: center;
}